/* rscss */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* root đặt biến màu */
:root {
    --primary: #dc4f72;
}

/* container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

/* start HomePageCover */
.HomePageCover .backdrop {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.HomePageCover .left-section {
    max-width: 550px;
}

.HomePageCover .upper h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.HomePageCover .lower p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

.HomePageCover .theme-button {
    transition: 0.5s ease-out;
    display: inline-block;
    line-height: 50px;
    font-weight: 600;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    cursor: pointer;
    text-transform: uppercase;
}