/* rscss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* root đặt biến màu */
:root {
  --primary: #dc4f72;
  --secondary: #0d5fa8;
  --title-color: #2c3038;
  --text-color: #5a5a5a;
  --light-bg-color: #f7f9fc;
  --bg-color: #fff;
  --border-color: #eee;
  --bg-color-light: #fff;
  --bg-lightgrey: #f7f7f7;
  --border-color-light: #f8f9fa;
  --card-curve: 6px;
  --iframe-filter: grayscale(0%);
  --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  --transformY: translateY(-0.5rem);
}

/* css xài chung */
.header-section {
  max-width: 750px;
  margin: 0 auto;
}

.header-section p {
  max-width: 750px;
  margin: 0 auto;
}

.header-section h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.header-section h2 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 55px;
  font-weight: 800;
}

.header-section.white h3 {
  color: #fff;
}

.header-section.white h2 {
  color: #fff;
}

.header-section p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

img.img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}

img.img-curve:hover {
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}

img.shadow {
  box-shadow: var(--card-hover-box-shadow);
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.theme-button {
  transition: 0.5s ease-out;
  display: inline-block;
  line-height: 50px;
  font-weight: 600;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #dc4f72;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 79, 114, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-primary:hover {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
  box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #cf2952;
  border-color: #c4274e;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 105, 135, 0.5);
}

/* css for each input type */
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

/* start HomePageCover */
.HomePageCover .backdrop {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
    url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}

.HomePageCover .left-section {
  max-width: 550px;
}

.HomePageCover .upper h2 {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.HomePageCover .lower p {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}

/* Start faq */
.faq-block {
  background-color: var(--light-bg-color);
}

.faq-block .faq-image {
  position: sticky;
  top: 80px;
}

.faq-block .faq .transition,
.faq-block .faq p,
.faq-block .faq ul li i:before,
.faq-block .faq ul li i:after {
  transition: all 0.25s ease-in-out;
}

.faq-block .faq .flipIn,
.faq-block .faq h1,
.faq-block .faq ul li {
  -webkit-animation: flipdown 0.5s ease both;
  animation: flipdown 0.5s ease both;
}

.faq-block .faq .no-select,
.faq-block .faq h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.faq-block .faq h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: var(--title-color);
}

.faq-block .faq p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.faq-block .faq ul {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}

.faq-block .faq ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid var(--border-color);
  margin: 0 0 15px 0;
  border-radius: var(--card-curve);
  background: var(--bg-color);
}

.faq-block .faq ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.faq-block .faq ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.faq-block .faq ul li:nth-of-type(3) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.faq-block .faq ul li:nth-of-type(4) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.faq-block .faq ul li:nth-of-type(5) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.faq-block .faq ul li:nth-of-type(6) {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

.faq-block .faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
}

.faq-block .faq ul li i:before,
.faq-block .faq ul li i:after {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 3px;
  height: 9px;
}

.faq-block .faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.faq-block .faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.faq-block .faq ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  appearance: none;
}

.faq-block .faq ul li input[type="checkbox"]:checked~p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.faq-block .faq ul li input[type="checkbox"]:checked~i:before {
  transform: translate(2px, 0) rotate(45deg);
}

.faq-block .faq ul li input[type="checkbox"]:checked~i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@media screen and (max-width: 480px) {
  .faq-block .faq h2 {
    font-size: 18px;
    line-height: 30px;
  }
}

/* start HomePageProjects */
.products .products-content {
  margin: 20px 0;
}

.products .products-content h3 {
  color: var(--title-color);
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.products .products-content p {
  color: var(--text-color);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24.5px;
}

@media screen and (max-width: 992px) {
  .products .products-content h3 {
    margin-bottom: 14px;
    font-size: 26px;
    line-height: 33px;
  }
}

@media screen and (max-width: 480px) {
  .products .products-content {
    margin-bottom: 30px;
  }

  .products .products-content h3 {
    font-size: 24px;
    line-height: 30px;
  }
}

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  color: var(--title-color);
  background: var(--bg-color) !important;
  border-bottom: 3px solid var(--border-color-light);
}

.resp-tabs-list li img {
  margin-right: 30px;
}

.resp-tabs-container {
  padding: 0px;
  background-color: var(--bg-color);
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border-bottom: none;
  margin-bottom: -1px !important;
  border-bottom: 3px var(--primary) solid !important;
  color: var(--primary) !important;
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active,
.resp-accordion-active {
  display: block;
}

.resp-tab-content {
  border-top-color: 0.5AB1D0;
}

h2.resp-accordion {
  font-size: 20px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0 0 4px;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content {
  border: none;
  word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
  border-top: 1px solid;
  border: 1px solid #5AB1D0 !important;
  border-left: 4px solid #5AB1D0 !important;
  margin-bottom: 4px !important;
  border-right: 1px #FFF solid !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #9B9797;
}

h2.resp-tab-active {
  background: #DBDBDB;
  border-bottom: 3px var(--primary) solid !important;
}

.resp-easy-accordion h2.resp-accordion {
  display: block;
}

.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1;
}

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active {
  display: block;
}

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1;
}

@media only screen and (max-width: 768px) {
  ul.resp-tabs-list {
    display: none;
  }

  h2.resp-accordion {
    border: none;
    border-bottom: 1px solid var(--border-color-light);
    display: block;
    background: var(--bg-color) !important;
    color: var(--title-color);
    font-weight: 600;
  }

  h2.resp-accordion:first-child {
    border-top: none;
  }

  .resp-tabs-container {
    border: 1px solid var(--border-color-light);
  }

  .resp-vtabs .resp-tab-content {
    border: 1px solid var(--border-color-light);
  }

  .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none;
  }

  .resp-accordion-closed {
    display: none !important;
  }

  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
  }
}

@media screen and (max-width: 480px) {
  .resp-tab-content {
    padding: 0 15px;
  }

  .resp-arrow {
    margin-top: 3px;
  }
}

/* start testimonials */
.testimonials-block .testimonials {
  background: linear-gradient(to right, var(--bg-color), rgba(255, 255, 255, 0.77)),
    url(./img/b2.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.testimonials-block .slider-info {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: var(--bg-color);
  border-radius: var(--card-curve);
}

.testimonials-block .img-circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid var(--primary);
}

.testimonials-block .img-circle img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.testimonials-block .message {
  position: relative;
}

.testimonials-block .message span {
  font-size: 30px;
  color: var(--title-color);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.testimonials-block .message p {
  font-size: 18px;
  line-height: 26px;
  color: var(--title-color);
}

.testimonials-block .name h4 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 400;
}

.testimonials-block .name p {
  font-size: 13px;
  color: var(--text-color);
}

@media (max-width: 992px) {
  .testimonials-block .message {
    margin-top: 1rem;
    padding-bottom: 0;
    padding: 0rem;
  }
}

@media (max-width: 900px) {
  .testimonials-block .slider-info {
    padding: 2rem;
  }
}

@media (max-width: 667px) {
  .testimonials-block .slider-info {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .testimonials-block .img-circle {
    margin-left: auto;
    margin-right: auto;
  }

  .testimonials-block .message {
    text-align: center;
  }

  .testimonials-block .message span {
    left: 0px;
  }
}

@media (max-width: 480px) {
  .testimonials-block .slider-info {
    grid-gap: 10px;
    padding: 2rem 1rem;
  }
}

.testimonials-block .owl-two.owl-theme .owl-nav [class*=owl-prev],
.testimonials-block .owl-two.owl-theme .owl-nav [class*=owl-next] {
  display: none;
}

/**
   * Owl Carousel v2.3.4
   * Copyright 2013-2018 David Deutsch
   * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
   */
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  backface-visibility: hidden;
  transition: transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/**
   * Owl Carousel v2.3.4
   * Copyright 2013-2018 David Deutsch
   * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
   */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-dots {
  margin-top: 0px;
  bottom: -55px;
  position: absolute;
  left: 0;
  right: 0;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 20px;
  margin: 0px;
  padding: 0;
  background: rgba(220, 79, 114, 0.4);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: var(--primary);
  opacity: 1;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
  outline: none;
  box-shadow: none;
}

.owl-theme .owl-nav .disabled {
  opacity: .8;
  cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
  padding: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: var(--bg-color);
  display: block;
  border: none;
  backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 0;
  position: relative;
}

button.owl-next,
button.owl-prev {
  position: absolute;
  bottom: 45%;
}

button.owl-prev {
  left: 5px;
}

button.owl-next {
  right: 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary);
}

@media all and (max-width: 640px) {
  button.owl-prev {
    left: 0px;
  }

  button.owl-next {
    right: 0px;
  }

  button.owl-next,
  button.owl-prev {
    bottom: 75%;
  }
}

.owl-one.owl-dots {
  display: none;
}

.owl-one.owl-theme .owl-dots .owl-dot span {
  display: none;
}

.owl-three.owl-dots {
  display: none;
}

.owl-three.owl-theme .owl-dots .owl-dot span {
  display: none;
}

.owl-three.owl-theme button.owl-next,
.owl-three.owl-theme button.owl-prev {
  display: none;
}

/* start moveTop */
.movetop {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 45px;
  background: var(--primary);
  padding: 0;
  opacity: 0.7;
  transition: 0.3s ease;
}

.movetop:hover {
  opacity: 1;
  transition: 0.3s ease;
}

.movetop span.fa {
  line-height: 45px;
  color: #fff;
  font-size: 22px;
}

/* start HomepageHeader */
.content {
  background: linear-gradient(to right,
      var(--bg-color),
      rgba(255, 255, 255, 0.92)),
    url(./img/banner.jpg);
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}

.HomePageHeader .content-left h3 {
  font-size: 50px;
  line-height: 57.5px;
  color: var(--title-color);
  font-weight: 700;
}

.HomePageHeader .content-left p {
  color: var(--text-color);
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  max-width: 450px;
}

/* Start Why Choose Us*/
.WhyChooseUs .s-block {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  background: var(--light-bg-color);
  padding: 3rem 2rem;
  border: 1px solid var(--light-bg-color);
}

.WhyChooseUs .s-block p {
  color: var(--text-color);
  margin-top: 15px;
  font-size: 16px;
  line-height: 24.5px;
  text-decoration: none;
}

.WhyChooseUs .s-block a {
  text-decoration: none;
}

.WhyChooseUs .s-block h3 {
  color: var(--title-color);
}

.WhyChooseUs .s-block:hover {
  transition: 0.3s ease-in;
  background: var(--bg-color);
  border: 1px solid var(--border-color-light);
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
}

/* About section */
.About .book-info h3 {
  font-size: 35px;
  line-height: 40px;
  color: var(--title-color);
  font-weight: 700;
}

.About .book-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--text-color);
  line-height: 24.4px;
}

.About .btn-primary {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.About .btn-primary:hover {
  background-color: #d62f58;
  border-color: #d62f58;
}

/*  */